.header-logo {
  font-size: 30px;
  font-family: "Poppins ExtraBold";
  color: var(--white);
  background: var(--black);
  line-height: 1;
  display: grid;
  place-items: center;
  padding-right: 10px;
  /* margin-left: 100px; */
}
