.header-logo {
  background: var(--black);
  color: var(--white);
  /* display: grid; */
  font-family: Poppins ExtraBold;
  font-size: xx-large;
  padding-right: 10px;
  place-items: center;
  display: inline-block;
  color: var(--white);
}
