.navibar-social {
  align-items: center;
  display: flex;
  padding-right: 10px;
}

.navibar {
  -webkit-box-align: center;
  -webkit-backdrop-filter: blue(15px);
  backdrop-filter: blue(15px);
  background-color: #91dc7e;
  color: #000;
  display: block;
  font-size: 0.75rem;
  font-weight: 100;
  /* gap: 0.8rem; */
  height: 3rem;
  justify-content: space-between;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  z-index: 6;
}

.navibar-menu a {
  background: transparent;
  border-radius: 50%;
  color: var(--color-light);
  font-family: Programme;
  font-family: Poppins, Poppins Regular;
  font-size: 1.1rem;
  padding: 0.9rem;
  text-decoration: none;
}

.navibar-menu a:hover {
  text-decoration: underline;
}

/* .navibar a:hover {
  background: var(--black-shadow);
}

.navibar a.active {
  background: linear-gradient(
    to top,
    #e5c6d7,
    #f7bdc2,
    #fcb9a0,
    #e9bf7f,
    #beca70,
    #98d17f,
    #69d598,
    #00d7b8,
    #00d6d1,
    #00d4e6,
    #2cd1f4,
    #5fccfb
  );
  color: var(--color-white);
} */

:root {
  --white: #f9f9f9;
  --black: #36383f;
  --grey: #85888c;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
.header {
  background-color: var(--black);
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  color: var(--white);
  margin-left: 10px;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: sticky;
  background-color: var(--black);
  overflow: hidden;
  color: white;
  text-shadow: 0px 0 0 #f8f9fa;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.menu a {
  display: block;
}

.menu a:hover {
}

.nav {
  max-height: 0;
  /* transition: max-height 0.5s ease-out; */
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 23px 22px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
  animation-name: from-top;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  transition: max-height 0.5s ease-out;
  max-height: 28%;
  justify-content: flex-start;
  animation-name: bounceInDown;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  height: 260px;
}
.side-menu:active {
  max-height: 28%;
  transition: max-height 0.5s ease-out;
  max-height: 28%;
  justify-content: flex-start;
  animation-name: from-top;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@keyframes from-top {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 200px;
    width: 200px;
  }
  100% {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

/* Responsiveness */

@media (min-width: 700px) {
  .navibar {
    display: flex;
  }
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    color: black;
  }

  .menu li {
    float: right;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--grey);
  }

  .hamb {
    display: none;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.menu a:hover {
  background-color: var(--grey);
}

.nav {
  max-height: 0;
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  margin: 0px 24px;
}

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--grey);
  }

  .hamb {
    display: none;
  }
}
