html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-image: linear-gradient(
    rgb(144 223 124),
    rgb(108 149 223),
    rgb(222 146 210)
  );

  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; */
}

:root {
  --white: #ffffff;
  --white-green: rgb(202, 250, 234);
  --black: #333333;
  --black-shadow: rgba(0, 0, 0, 0.3);
  --black-border: rgba(59, 60, 63, 0.47);
  --light-black-shadow: rgba(0, 0, 0, 0.2);
  --grey: #b6b6c2;
  --pink-shadow: #ceb2cb;
  --light-pink: #42343c;
  --pink: #ae3fb8;
  --pink-border: rgba(172, 166, 172, 0.47);
  --shadow-box: rgb(64, 67, 68);
  --blue-black: #15151b;
  --blue-green: rgb(37, 179, 148);
  --light-blue-shadow: rgb(69 211 255 / 27%);
  --light-blue: rgb(103, 198, 221);
  --blue: rgb(108 149 223);
  --blue-lag: #78acc0;
  --sea: rgb(57, 186, 209);
  --sea-green: #0abead;
  --sea-green-dark: #0cbfae;
  --light-blue-black: #1f2235;
  --green: rgb(60, 218, 60);
  --lime: #8ed882;
  --light-green: rgb(145 221 124);
  --sea-green-extra-dark: #09bead;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: rgb(230, 230, 230, 0.6);
  --toast-success: #0cbfae;
}
