.main-footer-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  max-width: 1920px;
  padding: 0.9rem;
  color: var(--color-light);
  text-decoration: none;
  transition: 1s;
}

.main-footer-content {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.main-footer-message {
  font-size: 15px;
  font-family: "Poppins Regular";
  letter-spacing: 2px;
}

.main-footer-container:hover {
  transition: 1s;
  background-color: var(--black);
  color: white;
}

@media only screen and (max-width: 1110px) {
  .main-footer-message {
    font-size: 10px;
    align-items: center;
  }
}
